# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj*
*.aux
*.bcf
*.nav
*.out
figure
*.tex
*.toc
*.snm
*.run.xml
*.log
cache
*.blg
*.bbl
